<div class="col-md-6 user-container">
    <h2 class="text-center">Editar Pessoa</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="hidden">
            <label for="email">ID:</label>
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email"
                readonly="true">
        </div>

        <div class="form-group">
            <label for="sexo">Sexo:</label>
            <input formControlName="sexo" placeholder="Sexo" name="sexo" class="form-control" id="sexo">
        </div>

        <div class="form-group">
            <label for="naturalidade">Naturalidad:</label>
            <input formControlName="naturalidade" placeholder="Naturalidad" name="naturalidade" class="form-control"
                id="naturalidade">
        </div>

        <button class="btn btn-success">Salvar</button>
    </form>
</div>