
<div class="row">

  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Login </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="loginForm.control['username'].hasError('required') && loginForm.control['username'].touched">Usuario é requerido</div>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" formControlName="password" id="password" autocomplete="off">
        <div class="error" *ngIf="loginForm.control['password'].hasError('required') && loginForm.control['password'].touched">Senha é requerida</div>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">LogIn</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Dados Invalidos</div>
      </div>
    </form>
  </div>
</div>